
.wpcf7-submit:hover {
    background: #44ce6f !important;
    color: #fff;
}

.left {
    width: 60%;
    display: inline;
    float: left;

}

.right {
    width: 40%;
    display: inline;
    float: right;
}

body {
    font-family: 'Roboto Slab', serif;
    padding: 0;
    margin: 0;
}

.musk {
    display: table-cell;
    height: 100vh;
    background: #00000091;
    width: 100vw;
    padding: 0 40px;
    vertical-align: middle;
}

.verticalhorizontal {
    display: table-cell;
    height: 100vh;

    width: 100vw;
    vertical-align: middle;
    background: url("https://educationwp.thimpress.com/demo-languages-school/wp-content/uploads/sites/26/2015/10/bg_register_now.jpg") no-repeat;
    background-size: cover;
}

.thim-get-100s .get-100s {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 167px;
}

.thim-get-100s h2 {
    color: #fff;
    font-size: 72px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2px 0 10px;
}

.thim-color {
    color: #44ce6f;
}

.thim-register-now-form {
    margin: 80px 0;
    background: #fff;
    position: relative;
    max-width: 400px;
    float: right;
    min-height: 453px;
    z-index: 1;
    float: left;
}

.forms {
    background: #fff;
    border-radius: 4px !important;
    box-shadow: 0px 2px 4px #000;
}

.forms input {
    width: 100%;
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: none;
    min-height: 40px;
    line-height: 20px;
    color: #000;
    font-size: 15px;
    padding: 10px;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
input::placeholder {
    color: #666565 !important;
}
button.btn-orange {
    background:  #44ce6f !important;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #44ce6f !important;
}

.wpcf7-form {
    padding: 30px;
    width: 100%;
    overflow: hidden;
}

.title {
    background: #44ce6f;
    padding: 15px 30px 18px 30px;
    border-radius: 4px 4px 92px 92px !important;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
}
.alarea{
    position: absolute;
    width: 100%;
}